:root {
	--pixel-bg: black;
	/* ↑ Inner background color */
	
	--pixel-border: black;
	/* ↑ Inner border color */
	
	--pixel-border-2: white;
	/* ↑ Middle border color */
	
	--pixel-border-3: var(--pixel-border);
	/* ↑ Outer border color */
	
	--pixel: .15rem;
	/* ↑ Pixel size */
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Navigation */
.logNavCont{
  display: flex;
  justify-content: flex-end;
  margin: auto;
  position: absolute;
  top: 0;
  left: 5vw;
  right: 5vw;
}

.topNavContainer{
  display: flex;
  justify-content: space-between;
  margin: auto;
  position: absolute;
  top: 0;
  left: 5vw;
  right: 5vw;
}
.bottomNavContainer{
  display: flex;
  position: absolute;
  bottom: 0;
  left: 5vw;
}
.backbutton{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
  padding: 0;
  font-size: 40px;
  font-family: inherit;
  background-color: inherit;
  color: white;
  opacity: 0.5;
}
.backbuttonimg{
 width: 60px;
 margin: 20px 20px 0 20px;
}
.soundbuttonimg{
 width: 80px;
 margin: 20px;
}
.backbutton:hover{
 opacity:1;
}

/*Battle Quiz CSS */
.hide {
  display: none;
}

.vis {
  visibility: hidden;
}
.logContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 48px;
  margin: 0;
}
.modal{
  color: black;
  margin: auto;
}
.modal-footer{
  border: none;
}
.logbutton{
  border: 0;
  padding: 0 24px;
  font-size: 32px;
  margin: 20px;
  font-family: inherit;
  background-color: inherit;
  color: white;
  --pixel: 0.1rem;
  opacity: 0.5;
}
.logbutton:hover{
  opacity: 1;
}
/*Loading CSS*/
.loading {
  font-size: 75px;
  color: white;
  align-self: center;
}

/*Dead CSS*/
.died {
  font-size: 75px;
  color: red;
  align-self: center;
}

.diedBtn {
  width: fit-content;
  align-self: center;
  color: white;
  border: 0;
  padding: 0 20px;
  margin: 50px;
}
.diedBtn:hover{

}
/* pixelated borders */

.pixel-border {
	background: var(--pixel-bg);
	box-shadow:
		
	/* Inner Background Color */
		0 calc(var(--pixel) * -3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
		0 calc(var(--pixel) * 3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
		0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
		0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
		0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
		0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
		0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
		0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
		
	/* Pixel Border Layer 1 */
		calc(var(--pixel) * -1) 0 0 0 var(--pixel-border),
		var(--pixel) 0 0 0 var(--pixel-border),
		0 calc(var(--pixel) * -2) 0 0 var(--pixel-border),
		0 calc(var(--pixel) * 2) 0 0 var(--pixel-border),
		0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border),
		0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border),
		0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border),
		0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border),
		0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border),
		0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border),
		0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-border),
		0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-border),
		
	/* Pixel Border Layer 2 */
		calc(var(--pixel) * -2) 0 0 0 var(--pixel-border-2),
		calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-2),
		0 calc(var(--pixel) * -1) 0 var(--pixel) var(--pixel-border-2), 
		0 var(--pixel) 0 var(--pixel) var(--pixel-border-2),
		0 calc(var(--pixel) * -4) 0 0 var(--pixel-border-2),
		0 calc(var(--pixel) * 4) 0 0 var(--pixel-border-2),
		0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
		0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
		0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
		0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
		0 calc(var(--pixel) * -11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
		0 calc(var(--pixel) * 11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
		0 calc(var(--pixel) * -14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
		0 calc(var(--pixel) * 14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
		
	/* Border Layer 3: --pixel-border-3 */
		calc(var(--pixel) * -3) 0 0 0 var(--pixel-border-3),
		calc(var(--pixel) * 3) 0 0 0 var(--pixel-border-3),
		0 0 0 calc(var(--pixel) * 2) var(--pixel-border-3),
		0 calc(var(--pixel) * -3) 0 var(--pixel) var(--pixel-border-3),
		0 calc(var(--pixel) * 3) 0 var(--pixel) var(--pixel-border-3),
		0 calc(var(--pixel) * -5) 0 0 var(--pixel-border-3),
		0 calc(var(--pixel) * 5) 0 0 var(--pixel-border-3),
		0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
		0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
		0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -2) var(--pixel-border-3), 
		0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
		0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -4) var(--pixel-border-3), 
		0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
		0 calc(var(--pixel) * -15) 0 calc(var(--pixel) * -6) var(--pixel-border-3), 
		0 calc(var(--pixel) * 15) 0 calc(var(--pixel) * -6) var(--pixel-border-3);
}
/* Tavern CSS */
.pageContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'VT323', monospace;
}
.mainContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 70vh;
  color: white;
  background: url('./assets/images/tavern5.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;

}
.backgroundContainer{
  background-color: #000000;
  opacity: 0.5;
}
.widthContainer{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
  height: 100%;
}
.coinContainer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 48px;
  margin:0; 
}
.coinImg{
  width: 60px;
  margin: 10px;
}
.TavernMenuContainer{
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: auto;
}
.TavernMenuCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  opacity: 0.7;
  background-color: #000000;
  height: 180px;
  width: 220px;
  --pixel: .2rem;
}
.TavernMenuCard:hover{
  background: url('./assets/images/magic3.gif') no-repeat center center;
  opacity: 1;
  --pixel-border-2: goldenrod;
  cursor: pointer; 
}
.TavernMenuItem{
  width: 100px;
  margin: 0 0 20px 0;
}
.TavernTitle{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  margin-top: 80px;

  
}
.TavernBeer{
  width: 60px;
  margin: 20px;
}
.charCard:hover > .chardesc{
visibility: visible;
}
.storyCard:hover > .storydesc{
  visibility: visible;
}
.dungeonCard:hover > .dungeondesc{
  visibility: visible;
}
.chardesc{
  position:absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  visibility: hidden;
  color: goldenrod
}
.storydesc{
  position:absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  visibility: hidden;
  color: goldenrod
}
.dungeondesc{
  position:absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  visibility: hidden;
  color: goldenrod
}

/* Character Creation Page */

.creationBg{
  background-color: #000000;
}
.creationContainer{
  position: relative;
  width: 100vw;
  margin: 0 auto;
  height: 70vh;
  color: white;
  background: url('./assets/images/ebbg2.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: multiply;
}
.creationTitle{
  margin: auto;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  z-index: 1;
}
.bgContainer{
width: 100vw;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.characterBg{
  position: relative;
  width: 100%;
  z-index: 0;
  height: 70vh;
}
.characterEmpty{
  height: 20vh;
  margin: auto auto;
  animation: grow-and-shrink 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.characterEmpty2{
  height: 15vh;
  margin: auto;
  animation: grow-and-shrink 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.loadingchar1{
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  margin-left: 30px;
}
.loadingchar2{
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-delay: 0.4s;
  transform-origin: bottom;
}
.loadingchar3{
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-delay: 0.8s;
  transform-origin: bottom;
}
.bounce-7 {
  animation-name: bounce-7;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce-7 {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-100px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}
.bounce-8 {
  animation-name: bounce-8;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce-8 {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-100px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}
.bounce-9 {
  animation-name: bounce-9;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce-9 {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-100px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}
.choicesContainer{
  font-size: 24px;
  text-align: center;
  margin: auto auto;
  background-color: black;
  width: 800px;
}
.question{
  font-size: 32px;
  margin: 0 0 20px 0;
}

.coverBlackBar{
  width: 100vw;
  height: 10px;
  background-color: #000000;
  position: absolute;
  bottom: 0px;
}
.statfont{
  margin: 0;
  font-size: 24px;
}
.statfontbig{
  margin: 0 0 10px 0;
  font-size: 24px;
}

/* Battle Page */
.MainBattleContainer{
  display: flex;
  width: 100vw;
  flex-direction: column;
  margin: auto;
  height: 70vh;
  background: url('./assets/images/newbattlebg3.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.battleContainer{
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: auto;
  z-index: 1;
}
.enemyRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.enemyPic{
  height: 20vh;
}
/* effect */
.explosion{
position: absolute;
left:0;
right:0;
top:0;
bottom:0;
height: 20vh;
}
.explosion1{
  display: none;
}
.effectcont
{
  position: relative;
  height: 20vh;
}
.StatBox{
  width: 300px;
  height: 100px;
  background-color: black;
  padding: 0 20px;
  color: white;
  --pixel: .1rem;
}
.heroRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.heroPic{
  height: 20vh;
}
.heroLvl{
  color: goldenrod;
  animation-duration: 1.7s;
  animation-iteration-count: 5;
  transform-origin: bottom;
  animation-name: bounce-10;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce-10 {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-60px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}
.BattlechoicesContainer{
  font-size: 24px;
  text-align: center;
  margin: auto auto;
  color: white;
  width: 800px;
}
.attackList{
  margin: 0 240px 0 200px;
  display: flex;
  flex-direction: column;
}
.attackRow1{
  display: flex;
  justify-content: space-between;
}
.attackRow2{
  display: flex;
  justify-content: space-between;
}
.statRow{
  display: flex;
  justify-content: space-between;
}

.healthcontainer{
  border: solid white 2px;
  background-color: white;
  width: 100%;
  height: 20px;
}
.healthBarEnemy{
  width: 100%;
  height: 20px;
  background-color: red;

}
.healthBarHero{
  width: 100%;
  height: 20px;
  background-color: green;
}
.hp{
  color: white;
}
.attack{
  /* button reset */
  border: 0;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
  background-color: inherit;
  color: white;
}
.attack:hover > .iconhover{
  visibility: visible;
}
.attack:hover{
  color: goldenrod;
}
.iconhover{
  height: 40px;
  margin: 10px;
  visibility: hidden;
}


/* Start Page */
.mainStartContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 70vh;
  color: white;
  background: url('./assets/images/campfire3.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.mainIntroContainer{
  background: url('./assets/images/intro3.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgb(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}
.wingedsword{
    width: 80px;
    margin: 20px;

}
.PlayCard{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 48px;
  margin: 0 auto;
  padding: 0 20px 0 30px;
  border: 0;
  font-family: inherit;
  color: white;
  background-color: #000000;
  opacity: 0.5;
  z-index: 1;
}
.PlayButton{
    width: 70px;
  margin: 0 0 0 10px;
}

.PlayCard:hover{
  opacity:1;
  cursor: pointer;
}

.description{
  font-size: 24px;
  margin: auto;
}

/* Character + Store Page */
.mainCharContainer{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 70vh;
  color: black;
  background: url('./assets/images/char7.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: scroll;
}
.widthChar2Container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 32px;
}
.charboxContainer{
  display: flex;
  max-height: 65vh;
}
.paddingbottom{
  display: none;
}
.charBox{
  width: auto;
  min-width: 20vw;
  height: 90%;
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  margin: auto 40px auto;

}
.shoprow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y:scroll;
  max-height: 60%;
  /* padding-bottom: 20px; */
  border-bottom: dashed white 2px;
}
.shopitem{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80px;
  min-width: 80px;
  min-height: 80px;
  border: white solid 2px;
  border-radius: 10px;;
  margin: 20px;
  background-color: inherit;
  color: white;
}
.itemimg{
  width: 40px
}
.itemdescbox{
  height: 70%;
  width: 300px;
  position: absolute;
  right: 40px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  visibility: hidden;
}
.textbox{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: auto;
  font-size: 24px;
}
.shopitem:hover{
  border: solid 2px goldenrod;
  cursor: pointer;
}

.shopitem:focus{
  border: solid 2px goldenrod;
  cursor: pointer;
  background-color: goldenrod;
}
.shopitem:hover > .itemdescbox{
visibility: visible;
}
.shopitem:focus > .itemdescbox{
visibility: visible;
}
.boxtitle{
  font-size: 32px;
  border-bottom: dashed white 2px;
  padding: 30px;
  margin: 0 0 40px 0;
}
.statcontainer{
  display: flex;
  flex-direction: column;
  margin: auto;
}
.stats{
  display:flex;
  font-size: 24px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 60px 10px;
}
.plus{
  font-size: 24px;
  margin: 0 0 0 30px;
  color: white;
  padding: 0;
  border: none;
  border-radius: 10px;
  background-color: inherit;
}
.up{
  width: 25px;
}
.plus:hover{
  cursor: pointer;
}
.plus:hover > .up{
  animation: grow-and-shrink2 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}
@keyframes grow-and-shrink2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
.statusbox{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.statbottom{
  font-size: 32px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.shopbottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 30px 0;
}
.coinrow{
  display: flex;
  align-items: center;
  font-size: 32px;
  margin-top: auto;
  margin-bottom: auto;
}
.coinshop{
  width: 40px;
  margin: 0 20px 0 0;
}
.buyequip{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  border: solid white 2px;
  background-color: inherit;;
  color: white;
  padding: 25px 0px;
  border-radius: 10px;
  font-size: 28px;
}
.buyequip:hover{
  background-color: green;
  border: solid green 2px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .topNavContainer{
    position: fixed;
  }
  .bottomNavContainer{
    position: fixed;
  }
/* start */
.mainStartContainer{
  height: 100vh;
}
.widthContainer{
  max-width: 90vw;
}
.logbutton{
  font-size: 24px;
}
.TavernTitle{
  font-size: 32px;
}
.wingedsword{
  width: 32px;
}
.description{
  font-size: 18px;
  max-width: 80vw;
}
.PlayCard{
  font-size: 32px;
  margin-bottom: 30px
}
.PlayButton{
  width: 40px;
}
.soundbuttonimg{
  width: 60px;
}
/* Tavern */

.mainContainer{
  height: 100vh;
}
.coinContainer{
  font-size: 32px;
}
.coinImg{
  width: 32px;
}
.TavernBeer{
  width:32px;
}
.TavernMenuContainer{
  max-width: 65vw;
}
.TavernMenuCard{
  font-size: 24px;
  width: 150px;
  height: 120px;
}
.TavernMenuItem{
  width: 60px;
}
/* character/shop */
.mainCharContainer{
  height: 100vh;
}
.widthChar2Container{
  padding: 0;
}

.backbutton{
  font-size: 24px;
}
.backbuttonimg{
  width: 32px;
}
.charBox{
width: 40vw;
min-height: 400px;
margin: 40px auto;
}
.boxtitle{
  font-size: 24px;
  padding: 10px;
  margin: 0;
}
.statbottom{
  font-size: 18px;
}
.stats{
  font-size: 18px;
}
.shopitem{
  max-width: 60px;
  min-width: 60px;
  min-height: 60px;
  border: white solid 2px;
  border-radius: 10px;;
  margin: 20px;
  background-color: inherit;
  color: white;
}
.itemimg{
  width: 40px
}
.paddingbottom{
height: 50px;
padding: 25px;
width: 100vw;
display: block;
}
.charboxContainer{
  height: 100vh;
  max-width: 90vw;
  margin: 0 auto;
  justify-content: space-between;
  flex-direction: column;
}
.itemdescbox{
  top: 1000px;
  width: 25vw;
  right: 1vw;
  height: fit-content;
}
/* end */
}