:root {
	--pixel-bg: black;
	/* ↑ Inner background color */
	
	--pixel-border: black;
	/* ↑ Inner border color */
	
	--pixel-border-2: white;
	/* ↑ Middle border color */
	
	--pixel-border-3: var(--pixel-border);
	/* ↑ Outer border color */
	
	--pixel: .15rem;
	/* ↑ Pixel size */
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Loading CSS*/
.loading {
  font-size: 75px;
  color: white;
  align-self: center;
}

/*Dead CSS*/
.died {
  font-size: 75px;
  color: red;
  align-self: center;
}

.diedBtn {
  width: fit-content;
  align-self: center;
}

/* pixelated borders */

.pixel-border {
	background: var(--pixel-bg);
	box-shadow:
		
	/* Inner Background Color */
		0 calc(var(--pixel) * -3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
		0 calc(var(--pixel) * 3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
		0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
		0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
		0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
		0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
		0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
		0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
		
	/* Pixel Border Layer 1 */
		calc(var(--pixel) * -1) 0 0 0 var(--pixel-border),
		var(--pixel) 0 0 0 var(--pixel-border),
		0 calc(var(--pixel) * -2) 0 0 var(--pixel-border),
		0 calc(var(--pixel) * 2) 0 0 var(--pixel-border),
		0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border),
		0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border),
		0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border),
		0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border),
		0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border),
		0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border),
		0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-border),
		0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-border),
		
	/* Pixel Border Layer 2 */
		calc(var(--pixel) * -2) 0 0 0 var(--pixel-border-2),
		calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-2),
		0 calc(var(--pixel) * -1) 0 var(--pixel) var(--pixel-border-2), 
		0 var(--pixel) 0 var(--pixel) var(--pixel-border-2),
		0 calc(var(--pixel) * -4) 0 0 var(--pixel-border-2),
		0 calc(var(--pixel) * 4) 0 0 var(--pixel-border-2),
		0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
		0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
		0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
		0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
		0 calc(var(--pixel) * -11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
		0 calc(var(--pixel) * 11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
		0 calc(var(--pixel) * -14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
		0 calc(var(--pixel) * 14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
		
	/* Border Layer 3: --pixel-border-3 */
		calc(var(--pixel) * -3) 0 0 0 var(--pixel-border-3),
		calc(var(--pixel) * 3) 0 0 0 var(--pixel-border-3),
		0 0 0 calc(var(--pixel) * 2) var(--pixel-border-3),
		0 calc(var(--pixel) * -3) 0 var(--pixel) var(--pixel-border-3),
		0 calc(var(--pixel) * 3) 0 var(--pixel) var(--pixel-border-3),
		0 calc(var(--pixel) * -5) 0 0 var(--pixel-border-3),
		0 calc(var(--pixel) * 5) 0 0 var(--pixel-border-3),
		0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
		0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
		0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -2) var(--pixel-border-3), 
		0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
		0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -4) var(--pixel-border-3), 
		0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
		0 calc(var(--pixel) * -15) 0 calc(var(--pixel) * -6) var(--pixel-border-3), 
		0 calc(var(--pixel) * 15) 0 calc(var(--pixel) * -6) var(--pixel-border-3);
}
/* Tavern CSS */
.pageContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'VT323', monospace;
}
.mainContainer{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 70vh;
  color: white;
  background: url('./assets/images/tavern5.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.backgroundContainer{
  background-color: #000000;
  opacity: 0.5;
}
.widthContainer{
  margin: 0 auto;
  width: 800px;
  height: 100%;
}
.coinContainer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 48px;
  margin:0; 
}
.logContainer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 48px;
  margin: 0;
}
.coinImg{
  width: 60px;
  margin: 10px;
}
.TavernMenuContainer{
  display: flex;
  justify-content: space-between;
  margin: 80px auto;
  width: 800px;
}
.TavernMenuCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  opacity: 0.7;
  margin: auto;
  padding: 25px 40px;
  background-color: #000000;
  --pixel: .2rem;
}
.TavernMenuCard:hover{
  background: url('./assets/images/magic3.gif') no-repeat center center;
  opacity: 1;
  --pixel-border-2: goldenrod;
  cursor: pointer; 
}
.TavernMenuItem{
  width: 100px;
  margin: 0 0 20px 0;
}
.TavernTitle{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  
}
.TavernBeer{
  width: 60px;
  margin: 20px;
}

/* Character Creation Page */

.creationBg{
  background-color: #000000;
}
.creationContainer{
  width: 100vw;
  margin: 0 auto;
  height: 70vh;
  padding: 20px 0;
  color: white;
  background: url('./assets/images/ebbg2.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: multiply;
}
.creationTitle{
  margin: 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  z-index: 1;
}
.bgContainer{
width: 100vw;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.characterBg{
  position: relative;
  width: 100%;
  z-index: 0;
  height: 70vh;
}
.characterEmpty{
  height: 20vh;
  margin: auto auto;
  animation: grow-and-shrink 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.choicesContainer{
  font-size: 24px;
  text-align: center;
  margin: 40px auto;
  padding: 10px;
  background-color: black;
  width: 800px;
}
.question{
  font-size: 32px;
  margin: 0 0 20px 0;
}

.coverBlackBar{
  width: 100vw;
  height: 10px;
  background-color: #000000;
  position: absolute;
  bottom: 0px;
}

/* Battle Page */
.MainBattleContainer{
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  height: 70vh;
  padding: 20px 0;
  background: url('./assets/images/battlebg1.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}
.battleContainer{
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;
}
.enemyRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.enemyPic{
  height: 25vh;
}
.StatBox{
  width: 300px;
  height: 100px;
  background-color: black;
  padding: 0 20px;
  color: white;
}
.heroRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.heroPic{
  height: 25vh;
}
.BattlechoicesContainer{
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
  color: white;
  width: 800px;
}
.attackList{
  margin: 0px 200px;
}
.attackRow1{
  display: flex;
  justify-content: space-between;
}
.attackRow2{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.statRow{
  display: flex;
  justify-content: space-between;
}
.healthBarContainer{
  width: 300px;
  height: 20px;
  border: solid black 2px;
}
.healthcontainer{
  border: solid white 2px;
  background-color: white;
  width: 300px;
  height: 20px;
}
.healthBarEnemy{
  width: 100%;
  height: 20px;
  background-color: red;

}
.healthBarHero{
  width: 100%;
  height: 20px;
  background-color: green;
}
.hp{
  margin: 0;
  padding: 0 10px;
  color: white;
  background-color: black;
}
.attack{
  /* button reset */
  border: 0;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
  background-color: inherit;
  color: white;
}
.attack:hover{
  color: goldenrod;
}
/* Start Page */
.mainStartContainer{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 70vh;
  color: white;
  background: url('./assets/images/campfire3.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wingedsword{
    width: 80px;
    margin: 20px;

}
.PlayCard{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 48px;
  margin: 0 auto;
  border: solid 4px white;
  border-radius: 20px;
  padding: 20px 30px 20px 40px;
  background-color: #000000;
  opacity: 0.5;
}
.PlayButton{
    width: 70px;
  margin: 0 0 0 30px;
}

.PlayCard:hover{
  opacity:1;
  cursor: pointer;
}

.description{
  font-size: 24px;
}

/* Character + Store Page */
.mainCharContainer{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 70vh;
  color: black;
  background: url('./assets/images/ebbg4.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgb(255, 255, 255);
  background-blend-mode: multiply;
}
.widthCharContainer{
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: 0 auto;
  text-align: center;
  padding: 32px;
}

.charBox{
  width: 25vw;
  height: 100%;
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: column;
}
.shoprow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y:auto;
  max-height: 60%;
  margin-top: -20px;
  padding-bottom: 20px;
  border-bottom: dashed white 2px;
}
.shopitem{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80px;
  min-width: 80px;
  min-height: 80px;
  border: white solid 4px;
  border-radius: 10px;;
  margin: 20px;
}
.shopitem:hover{
  background-color: white;
  color:black;
  cursor: pointer;
}

.boxtitle{
  font-size: 40px;
  border-bottom: dashed white 2px;
  padding: 30px;
  margin: 0 0 40px 0;
}
.stats{
  display:flex;
  font-size: 24px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 60px;
}
.plus{
  font-size: 32px;
  margin: 0 0 0 30px;
  color: white;
  padding: 0 10px;
  border: white solid 2px;
  border-radius: 10px;
  background-color: #000000;
}
.plus:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}
.statusbox{
  display: flex;
  flex-direction: column;
}
.statbottom{
  font-size: 32px;
  margin: auto auto 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shopbottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 30px;
}
.coinrow{
  display: flex;
  align-items: center;
  font-size: 32px;
}
.coinshop{
  width: 40px;
  margin: 0 10px 0 0;
}
.buyequip{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  border: solid white 4px;
  border-radius: 10px;
  font-size: 28px;
}
.buyequip:hover{
  background-color: green;
  cursor: pointer;
}